# Jupyter Notebook
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# IDE settings
.vscode/
.idea/

# macOS
.DS_Store

# Logs
logs/
*.log

# Hydra outputs
outputs/

# Wandb
wandb/